<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tourism.mapper.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.tourism.entity.Area" >
    <id column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="area_introduce" property="areaIntroduce" jdbcType="VARCHAR" />
    <result column="area_folk_custom" property="areaFolkCustom" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    area_id, area_name, area_introduce, area_folk_custom
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from area
    where area_id = #{areaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area
    where area_id = #{areaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tourism.entity.Area" >
    insert into area (area_id, area_name, area_introduce, 
      area_folk_custom)
    values (#{areaId,jdbcType=INTEGER}, #{areaName,jdbcType=VARCHAR}, #{areaIntroduce,jdbcType=VARCHAR}, 
      #{areaFolkCustom,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tourism.entity.Area" >
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="areaIntroduce != null" >
        area_introduce,
      </if>
      <if test="areaFolkCustom != null" >
        area_folk_custom,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaIntroduce != null" >
        #{areaIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="areaFolkCustom != null" >
        #{areaFolkCustom,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tourism.entity.Area" >
    update area
    <set >
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaIntroduce != null" >
        area_introduce = #{areaIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="areaFolkCustom != null" >
        area_folk_custom = #{areaFolkCustom,jdbcType=VARCHAR},
      </if>
    </set>
    where area_id = #{areaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tourism.entity.Area" >
    update area
    set area_name = #{areaName,jdbcType=VARCHAR},
      area_introduce = #{areaIntroduce,jdbcType=VARCHAR},
      area_folk_custom = #{areaFolkCustom,jdbcType=VARCHAR}
    where area_id = #{areaId,jdbcType=INTEGER}
  </update>
</mapper>