<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tourism.mapper.RestaurantMapper" >
	<resultMap id="BaseResultMap" type="com.tourism.entity.business.Restaurant" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="brief_introduce" property="briefIntroduce" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="DECIMAL" />
		<result column="noon_start_time" property="noonStartTime" jdbcType="TIMESTAMP" />
		<result column="noon_end_time" property="noonEndTime" jdbcType="TIMESTAMP" />
		<result column="night_start_time" property="nightStartTime" jdbcType="TIMESTAMP" />
		<result column="night_end_time" property="nightEndTime" jdbcType="TIMESTAMP" />
		<result column="is_close" property="isClose" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List" >
		id, name, brief_introduce, phone, img_url, address, score, noon_start_time, noon_end_time,
    night_start_time, night_end_time, is_close
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
		select
		<include refid="Base_Column_List" />
		from restaurant
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="closeByPrimaryKey" parameterType="java.lang.Integer" >
		delete from restaurant
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.tourism.entity.business.Restaurant" >
		insert into restaurant (id, name, brief_introduce,
								phone, img_url, address,
								score, noon_start_time, noon_end_time,
								night_start_time, night_end_time, is_close
		)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{briefIntroduce,jdbcType=VARCHAR},
				#{phone,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
				#{score,jdbcType=DECIMAL}, #{noonStartTime,jdbcType=TIMESTAMP}, #{noonEndTime,jdbcType=TIMESTAMP},
				#{nightStartTime,jdbcType=TIMESTAMP}, #{nightEndTime,jdbcType=TIMESTAMP}, #{isClose,jdbcType=TINYINT}
			   )
	</insert>
	<insert id="insertSelective" parameterType="com.tourism.entity.business.Restaurant" >
		insert into restaurant
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				id,
			</if>
			<if test="name != null" >
				name,
			</if>
			<if test="briefIntroduce != null" >
				brief_introduce,
			</if>
			<if test="phone != null" >
				phone,
			</if>
			<if test="imgUrl != null" >
				img_url,
			</if>
			<if test="address != null" >
				address,
			</if>
			<if test="score != null" >
				score,
			</if>
			<if test="noonStartTime != null" >
				noon_start_time,
			</if>
			<if test="noonEndTime != null" >
				noon_end_time,
			</if>
			<if test="nightStartTime != null" >
				night_start_time,
			</if>
			<if test="nightEndTime != null" >
				night_end_time,
			</if>
			<if test="isClose != null" >
				is_close,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null" >
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="briefIntroduce != null" >
				#{briefIntroduce,jdbcType=VARCHAR},
			</if>
			<if test="phone != null" >
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null" >
				#{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="address != null" >
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="score != null" >
				#{score,jdbcType=DECIMAL},
			</if>
			<if test="noonStartTime != null" >
				#{noonStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="noonEndTime != null" >
				#{noonEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="nightStartTime != null" >
				#{nightStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="nightEndTime != null" >
				#{nightEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isClose != null" >
				#{isClose,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tourism.entity.business.Restaurant" >
		update restaurant
		<set >
			<if test="name != null" >
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="briefIntroduce != null" >
				brief_introduce = #{briefIntroduce,jdbcType=VARCHAR},
			</if>
			<if test="phone != null" >
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null" >
				img_url = #{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="address != null" >
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="score != null" >
				score = #{score,jdbcType=DECIMAL},
			</if>
			<if test="noonStartTime != null" >
				noon_start_time = #{noonStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="noonEndTime != null" >
				noon_end_time = #{noonEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="nightStartTime != null" >
				night_start_time = #{nightStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="nightEndTime != null" >
				night_end_time = #{nightEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isClose != null" >
				is_close = #{isClose,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tourism.entity.business.Restaurant" >
		update restaurant
		set name = #{name,jdbcType=VARCHAR},
			brief_introduce = #{briefIntroduce,jdbcType=VARCHAR},
			phone = #{phone,jdbcType=VARCHAR},
			img_url = #{imgUrl,jdbcType=VARCHAR},
			address = #{address,jdbcType=VARCHAR},
			score = #{score,jdbcType=DECIMAL},
			noon_start_time = #{noonStartTime,jdbcType=TIMESTAMP},
			noon_end_time = #{noonEndTime,jdbcType=TIMESTAMP},
			night_start_time = #{nightStartTime,jdbcType=TIMESTAMP},
			night_end_time = #{nightEndTime,jdbcType=TIMESTAMP},
			is_close = #{isClose,jdbcType=TINYINT}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByOrderPage" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from restaurant
		where is_close = 0
		order by #{sortKey}
	</select>
</mapper>