<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tourism.mapper.RoomMapper" >
	<resultMap id="BaseResultMap" type="com.tourism.entity.deal.Room" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="INTEGER" />
		<result column="balance" property="balance" jdbcType="INTEGER" />
		<result column="hotel_id" property="hotelId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List" >
		id, create_time, update_time, name, img_url, price, balance, hotel_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
		select
		<include refid="Base_Column_List" />
		from room
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
		delete from room
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.tourism.entity.deal.Room" >
		insert into room (id, create_time, update_time,
						  name, img_url, price,
						  balance, hotel_id)
		values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
				#{name,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER},
				#{balance,jdbcType=INTEGER}, #{hotelId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.tourism.entity.deal.Room" >
		insert into room
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				id,
			</if>
			<if test="createTime != null" >
				create_time,
			</if>
			<if test="updateTime != null" >
				update_time,
			</if>
			<if test="name != null" >
				name,
			</if>
			<if test="imgUrl != null" >
				img_url,
			</if>
			<if test="price != null" >
				price,
			</if>
			<if test="balance != null" >
				balance,
			</if>
			<if test="hotelId != null" >
				hotel_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=INTEGER},
			</if>
			<if test="createTime != null" >
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null" >
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="name != null" >
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null" >
				#{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="price != null" >
				#{price,jdbcType=INTEGER},
			</if>
			<if test="balance != null" >
				#{balance,jdbcType=INTEGER},
			</if>
			<if test="hotelId != null" >
				#{hotelId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tourism.entity.deal.Room" >
		update room
		<set >
			<if test="createTime != null" >
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null" >
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="name != null" >
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null" >
				img_url = #{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="price != null" >
				price = #{price,jdbcType=INTEGER},
			</if>
			<if test="balance != null" >
				balance = #{balance,jdbcType=INTEGER},
			</if>
			<if test="hotelId != null" >
				hotel_id = #{hotelId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tourism.entity.deal.Room" >
		update room
		set create_time = #{createTime,jdbcType=TIMESTAMP},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			name = #{name,jdbcType=VARCHAR},
			img_url = #{imgUrl,jdbcType=VARCHAR},
			price = #{price,jdbcType=INTEGER},
			balance = #{balance,jdbcType=INTEGER},
			hotel_id = #{hotelId,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByHotelId" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from room where hotel_id = #{hotelId}
	</select>
</mapper>
